# Dependencies
node_modules

# Build
dist
dist-ssr

# Env
.env
*.local

# Logs
*.log

# Editor / IDE
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# AI tools
.claude

# Docs
docs
